In [2]:
# How to create a Class using pass/none in Python?
# •How to create and call Method of a Class in Python? 
# •How to use the init  method to assign values to data attributes in Python? 
# • How to update Object properties in Python?


class std:
    None

std()

In [4]:
class std:
    def fun(self,a):
        print(a)
        
x = std()
x.fun(2)

2

In [6]:
class std:
    def __init__(self,name):
        self.name = name
        
s = std('Deepak')
s.name

'Deepak'

In [8]:
class std:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
s = std('Deepak',24)
print(s.name)
s.age

Deepak

24

In [9]:
def add(a,b):
    c = a+b
    return c
add(1,2)

3

In [20]:
a = lambda x,y:x+y
a(1,2)

3

In [18]:
print(2.0)

2.0

In [21]:
#wap to print square & cube of a number with the help of lambda function.

In [25]:
# filter function------>
x = [23,45,67,89,56,78,67,56,23]
x.sort()
print(x)

[23, 23, 45, 56, 56, 67, 67, 78, 89]

In [26]:
x

[23, 23, 45, 56, 56, 67, 67, 78, 89]

In [39]:
#wap to print the data from the list if you person is having age greater than 50.

x = [23,45,67,89,56,78,67,56,23]
def age(x):
    if x>50:
        return True
    else:
        return False
    

f = list(filter(age,x))
print(f)

[67, 89, 56, 78, 67, 56]

In [45]:
x = [23,45,67,89,56,78,67,56,23]
def age(x):
    if x>50:
        return True
#         print("Adult")
    else:
        return False
#         print("Child")
c = list(filter(age,x))
print(c)

[67, 89, 56, 78, 67, 56]

In [46]:
c

[67, 89, 56, 78, 67, 56]

In [47]:
c.append(100)

In [48]:
c

[67, 89, 56, 78, 67, 56, 100]

In [49]:
c.insert(3,222)

In [50]:
c

[67, 89, 56, 222, 78, 67, 56, 100]

In [51]:
x = [23,45,67,89,56,78,67,56,23]
def age(x):
    if x>50:
        return True
#         print("Adult")
    else:
        return False
#         print("Child")
c = list(filter(age,x))
print(c)

[67, 89, 56, 78, 67, 56]

In [53]:
x = [23,45,67,89,56,78,67,56,23]
z = list(filter(lambda a:a>50,x)) 
z

[67, 89, 56, 78, 67, 56]

In [54]:
#wap to find odd & even number with the help of normal fun & lambda funct.
x = [2,5,6,9,8]
def even(x):
    if x%2==0:
        return True
    else:
        return False
even_num = list(filter(even,x))
even_num

[2, 6, 8]

In [56]:
s = list(filter(lambda a:a%2==0,x))
s

[2, 6, 8]

In [57]:
#map function
s

[2, 6, 8]

In [60]:
print(list(map(lambda a:a**2,s)))
# mapping

[4, 36, 64]

In [61]:
c = lambda x:x+15
c(5)

20